body {

    background-color: 2B2B2B;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

 
.container {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle

}